.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 40%;
  text-align: center;
  margin: 2%;
  margin-left: 4%;
}
.name {
  background-color: inherit;
  font-size: 5vw;
}
.title {
  background-color: inherit;
  font-size: 2vw;
}
@media (max-width: 480px) {
  .nav-bar {
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0 auto;
  }
  .name {
    font-size: 50px;
  }
  .title {
    font-size: 30px;
  }
}
