@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 0.5s ease-out;
}
* {
  background-color: rgb(57, 54, 54);
  color: rgb(199, 206, 212);
  /* background-color: rgb(114, 139, 228);
  color: rgb(69, 1, 133); */
  /* background-color: #acc8e5;
  color: #33046c; */
  /* background-color: #ffffff;
  color: #3f0585; */
}
